@import 'variables';

/*****************************
      BODY
*****************************/

body {
  width: 90%;
  margin: 0 auto;
}

/*****************************

*****************************/

.container {

  li {
    padding: 5px;

    img {
      display: block;
    }
  }
}
