@import 'variables';

/*****************************
BODY
*****************************/

* {
	font-family: calibri, arial, sans-serif;
	text-align: center;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

main {
	display: flex;
	align-items: center;
	align-content: center;
	align-self: center;
	flex-direction: column;
	padding: 10px;

	input[type=text] {
		width: 100%;
		margin-bottom: 10px;
		font-size: 20px;
		border: none;
		border-bottom: 1px solid #777;
	}

	.birra {
		background: #CCC;
		max-width: 300px;
		margin-bottom: 10px;
		padding: 10px;

		img {
			max-width: 100%;
			height: 400px;
		}

		h2 {
			font-weight: 600;
			font-variant: small-caps;
			font-size: 20px;
		}

		p {
			text-align: justify;
		}
	}
}
