body {
  width: 100%;
  margin: 0 auto;
}

#background
{
  position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.centered
{
  margin-top: 20px;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-direction: row;
}


.lampadina
{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #000;
  margin-left: 10px;
	margin-bottom: 10px;
}

.switch
{
	text-align: center;
  width: 100%;
  color: black;
  font-weight: 800;
  z-index: 100;
}

body.lampadina1accesa #lampadina1,
body.lampadina2accesa #lampadina2
{
	background-color: yellow;
	border: 2px solid rgb(154, 156, 68);
  -webkit-box-shadow: 0 0 100px yellow;
  box-shadow: 0 0 100px yellow;
}


#images.mostraAll .imgAll
{
  display: block;
  z-index: -1;
}

#images.mostraHome .imgHome
{
  display: block;
  z-index: -1;
}

#images.mostraFarm .imgFarm
{
  display: block;
  z-index: -1;
}

.hidden
{
	display: none;
}

.title
{
	font-weight: 800;;
}

.title
{
	font-weight: 800;;
}

.title,
.subtitle
{
	font-variant: small-caps;
}
