body {
  width: 80%;
  margin: 50px auto 0;
}

.centered
{
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}


.lampadina
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #000;
  margin-left: 10px;
	margin-bottom: 10px;
}

.switch
{
	text-align: center;
  width: 100%;
  color: black;
  font-weight: 800;
}

body.lampadina1accesa #lampadina1,
body.lampadina2accesa #lampadina2
{
	background-color: yellow;
	border: 2px solid rgb(154, 156, 68);
  -webkit-box-shadow: 0 0 100px yellow;
  box-shadow: 0 0 100px yellow;
}
